<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans %}Refactorings Repository{% endtrans %} {% block subtitle %}{% endblock subtitle %}</title>

    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/tpoo1webclient/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/tpoo1webclient/css/sb-admin.css')}}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset('bundles/tpoo1webclient/css/plugins/morris.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('bundles/tpoo1webclient/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    {% endblock stylesheets %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id= "{% if app.user %}wrapper{% else %}page-wrapper{% endif %}">    

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('tpoo1_web_client_homepage')}}">{% trans %}Refactoring Repository{% endtrans %}</a>
                <button class="btn btn-warning" onclick="return install(event)">{% trans %}Install component{% endtrans %}</button>
            </div>
            {% if app.user %}
            <ul class="nav navbar-right top-nav">   
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{path('fos_user_profile_edit')}}"><i class="fa fa-fw fa-user"></i> {% trans %}Profile{% endtrans %}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{path('fos_user_security_logout')}}"><i class="fa fa-fw fa-power-off"></i> {% trans %}Log Out{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="{{path('tpoo1_web_client_homepage')}}"><i class="fa fa-fw fa-cogs"></i> {% trans %}Refactorings Web{% endtrans %}</a>
                    </li>   
                    {% if app.user.granted("ROLE_DEVELOPER") %}                 
                    <li class="active">
                        <a href="{{path('tpoo1_web_client_developer_developed_refactorings')}}"><i class="fa fa-fw fa-cogs"></i> {% trans %}My  uploaded Refactorings{% endtrans %}</a>
                    </li>                    
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-cloud-upload"></i> {% trans %}Upload{% endtrans %} <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{path('tpoo1_web_client_developer_generic_refactoring_form')}}">{% trans %}Generic Refactoring{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{path('tpoo1_web_client_developer_refactoring_form')}}">{% trans %}Instantiated Refactoring{% endtrans %}</a>
                            </li> 
                            <li>
                                <a href="{{path('tpoo1_web_client_developer_refactoring_package_form')}}">{% trans %}Refactoring Package{% endtrans %}</a>
                            </li>                            
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            {% endif %}
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                {% for type, messages in app.session.flashBag.all %}
                    {% for message in messages %}
                        <div class="{{ type }}">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% block content %}
                    <div class="row">

                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>
                {% endblock content %}
            </div>
            <hr>
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>Copyright &copy; {% trans %}Refactoring Repository{% endtrans %} 2014</p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>   
        </div> 
        
    {% block javascripts %}
    <script type="application/javascript">
    <!--
    function install (aEvent)
    {
      var params = {
        "Foo": { URL: '{{ asset("bundles/tpoo1webclient/cs-adaptation@lifia.xpi")}}',
                 toString: function () { return this.URL; }
        }
      };
      InstallTrigger.install(params);

      return false;
    }
    -->
    </script>
    <!-- jQuery Version 1.11.0 -->
    <script src="{{ asset('bundles/tpoo1webclient/js/jquery-1.11.0.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/tpoo1webclient/js/bootstrap.min.js')}}"></script>
    {% endblock javascripts %}
</body> 

</html>
