{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="col-lg-4 col-lg-offset-4">
    <div id="page-wrapper">
        <div class="container-fluid">
    	    <div class="row">
                <div class="col-lg-12">
    				{% if error %}
    					<div class="alert alert-danger">{{ error|trans }}</div>
    				{% endif %}
    			</div>
    		</div>
            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1>Login</h1>                        
                </div>
            </div>
            <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
        		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
        			<input type="password" id="password" name="_password" required="required" class="form-control" />
                </div>
                <div class="checkbox">
                    <label for="remember_me">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> 
        				{{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-info" />
                <a href="{{path('fos_user_registration_register')}}" class="btn btn-success">{% trans %}Register{% endtrans %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock fos_user_content %}