{% extends "Tpoo1WebClientBundle::layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	    <div id="page-wrapper">
	        <div class="container-fluid">
	    	    <!-- Page Heading -->
	            <div class="row">
	                <div class="col-lg-12">
	                	{#
	                	Old installation
	                	<a href="#" class="btn btn-primary pull-right" onclick="installComponent(event, '{{ url('tpoo1_web_client_component_script', { 'id': component.id, 'name': component.name }) }}', {% if component.dependency is defined %}'{{ url('tpoo1_web_client_component_script', { 'id': component.dependency.id, 'name': component.dependency.name }) }}'{% else %}''{% endif %})"><i class="glyphicon glyphicon-plus"></i>{% trans %}Install{% endtrans %}</a>
	                	#}
	                	<button class="btn btn-primary pull-right" onclick='installAccesibilityComponents([
	                		{% if component.refactorings is defined %}
	                			{% for refactoring in component.refactorings %}
	                				{
	                					"id" : "{{refactoring.namespace}}",
	                					"version" : "{{refactoring.version}}",
	                					"script" : "{{refactoring.script|base64}}"
	                				},
	                			{% endfor %}
	                		{% else %}
	                			{% if component.dependency is defined %}
	                			{
                					"id" : "{{component.dependency.namespace}}",
                					"script" : "{{component.dependency.script|base64}}"
                				},
	                			{% endif %}
	                			{
                					"id" : "{{component.namespace}}",
                					"script" : "{{component.script|base64}}"
                				}
	                		{% endif %}
	                	])'><i class="glyphicon glyphicon-plus"></i>{% trans %}Install{% endtrans %}</button>
						<h1>{{component.name}}</h1>        
						<i>{{component.description}}</i>        
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-12">
	                	<h3>{% trans %}Details{% endtrans %}</h3>
	                	{% if component.namespace is defined %}
						<p><b>{% trans %}Namespace{% endtrans %}:</b> {{component.namespace}}</p>      
            			{% endif %}   
            			{% if component.url is defined %}
            				{% if component.url %}
							<p><b>{% trans %}Target website{% endtrans %}:</b> {{component.url}}</p>      
            				{% endif %}
            			{% endif %}   
            			{% if component.dependency is defined %}
            				{% if component.dependency %}
							<p><b>{% trans %}Dependency{% endtrans %}:</b> <a href="{{path('tpoo1_web_client_component_detail',{'id': component.dependency.id})}}">{{component.dependency.namespace}}</a></p>      
            				{% endif %}
            			{% endif %}
						<p><b>{% trans %}Version{% endtrans %}:</b> {{component.version}}</p>
						{{ component.previous }}
						{% if previous_version.id is defined %}
						<p><b>{% trans %}Previous version{% endtrans%}:</b> <a href="{{path('tpoo1_web_client_component_detail',{'id': previous_version.id})}}">v {{previous_version.version}}</a></p>      
            			{% endif %}
	                </div>
	            </div>
	            <div class="row">	 
					<div class="col-lg-8 col-lg-offset-2"> 
					{% if component.refactorings is defined %}
					<h3>{% trans %}Refactorings{% endtrans %}</h3>
					<ul>
					{% for refactoring in component.refactorings %}
						<li>
						<b>{{refactoring.name}}</b> | {% trans %}Dependency{% endtrans %}: {{refactoring.dependency}}<br/>
						<i>{{refactoring.description}}</i>
						</li>
					{% endfor%}
					</ul>
					{% else %}
					<h3>{% trans %}Code{% endtrans %}</h3>              
<pre><code class="javascript">
{{component.script}}
</code></pre>
					{% endif %}
					</div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% endblock content %}

{% block javascripts %}
	{{parent()}}
	<script src="{{ asset('bundles/tpoo1webclient/js/refactorings.js')}}"></script>
{% endblock javascripts %}
