{% extends "Tpoo1WebClientBundle::layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	    <div id="page-wrapper">
	        <div class="container-fluid">
	    	    <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% trans %}Refactorings Web{% endtrans %} <small>{% trans %}Search result{% endtrans %}</small>
                        </h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h2>{% trans %}Search{% endtrans %} <small>{% trans %}by website url. Ex: google.com{% endtrans %}</small></h2>
                        <div class="row">
                        	<form method="post" action="{{path('tpoo1_web_client_component_search')}}">
	                            <div class="col-lg-6">
	                            <div class="input-group">
	                                <input type="text" name="query" class="form-control">
	                                    <span class="input-group-btn">
	                                    <button class="btn btn-default" type="submit"><span class="fa fa-search"></span></button>
	                                    </span>
	                                </div>
	                            </div>
                            </form>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            {% if components %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Name{% endtrans %}</th>
                                        <th>{% trans %}Description{% endtrans %}</th>
                                        <th>{% trans %}Website to apply on{% endtrans %}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                            	{% for component in components %}
                                {% if component.author %}
								<tr>
								    <td><a href="{{path('tpoo1_web_client_component_detail',{'id': component.id})}}">{{component.name}}</a></td>
								    <td>{{component.description}}</td>
								    {% if component.url is defined %}
                                    <td>{{component.url}}</td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
								    <td>
                                    {#<button type="button" class="btn btn-primary pull-right" onclick="installComponent(event, '{{ url('tpoo1_web_client_component_script', { 'id': component.id, 'name': component.name }) }}', {% if component.dependency is defined %}'{{ url('tpoo1_web_client_component_script', { 'id': component.dependency.id, 'name': component.dependency.name }) }}'{% else %}''{% endif %})"><i class="glyphicon glyphicon-plus"></i>{% trans %}Install{% endtrans %}</button>
                                    #}
                                    <button class="btn btn-primary pull-right" onclick='installAccesibilityComponents([
                                    {% if component.refactorings is defined %}
                                        {% for refactoring in component.refactorings %}
                                            {
                                                "id" : "{{refactoring.namespace}}",
                                                "version" : "{{refactoring.version}}",
                                                "script" : "{{refactoring.script|base64}}"
                                            },
                                        {% endfor %}
                                    {% else %}
                                        {% if component.dependency is defined %}
                                        {
                                            "id" : "{{component.dependency.namespace}}",
                                            "script" : "{{component.dependency.script|base64}}"
                                        },
                                        {% endif %}
                                        {
                                            "id" : "{{component.namespace}}",
                                            "script" : "{{component.script|base64}}"
                                        }
                                    {% endif %}
                                    ])'><i class="glyphicon glyphicon-plus"></i>{% trans %}Install{% endtrans %}</button>
                                    </td>
								</tr>
                                {% endif %}
								{% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <i>{% trans %}Your search has not thrown any results{% endtrans %}</i>
                            {% endif %}
                        </div>                        
                    </div>
	        </div>
	    </div>
	</div>
</div>



{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/tpoo1webclient/js/refactorings.js')}}"></script>
{% endblock javascripts %}
{% endblock content %}
