{% extends "Tpoo1WebClientBundle::layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-lg-offset-4">
	    <div id="page-wrapper">
	        <div class="container-fluid">
	    	    <!-- Page Heading -->
	            <div class="row">
	                <div class="col-lg-12">
	                    <h1>{% trans %}Select your user role{% endtrans %}</h1>                        
	                </div>
	            </div>
	            <hr>
	            <div class="row">
	                <a href="{{path('tpoo1_web_client_select_role_consumer')}}" class="btn btn-success col-lg-12"><i class="glyphicon glyphicon-cloud-download"></i> {% trans %}Consumer{% endtrans %}</a>
	            	<i>{% trans %}As consumer you can download refactorings for your web browser.{% endtrans %}</i>
	            </div>
	            <hr>
	            <div class="row">
	            	<a href="{{path('tpoo1_web_client_select_role_developer')}}" class="btn btn-warning col-lg-12"><i class="glyphicon glyphicon-cloud-upload"></i> {% trans %}Developer{% endtrans %}</a>
	            	<i>{% trans %}As developer you can upload new website refactorings.{% endtrans %}</i>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{% endblock content %}