{% extends "::base.html.twig" %}

{% block title %}Tpoo1WebClientBundle:Consumer:searchRefactoring{% endblock %}

{% block body %}
<h1>Welcome to the Consumer:searchRefactoring page</h1>
{% endblock %}
