#container-box{
	margin: 5px 5px 5px 5px;
	border:1px solid #CCCCCC;
	width:auto;
	height:300px;	
}

hbox.main-window-buttons{
	padding-right:10px;
}

vbox.script {	
	padding: 5px 5px 5px 5px;
	border-bottom:1px solid #CCCCCC;
	width:450px;
	background:#FFFFFF;	
}

vbox.script:hover {	
	background:#DDDDDD;	
}


hbox.script-title {
	font-weight: bold;
	text-size: 14px;
	color: #000000;
}

hbox.script-title-options {
	text-align: right;
	/*border:1px solid black;*/
	width:100%;
	text-align: right;
}


hbox.short-description{
	font-style: italic;
	text-size: 10px;
	color: #999999;
	display:block;
}

vbox.full-options{	
	text-size: 10px;
	color: #000;
	text-align: justify;	
}

vbox.script-author{
	font-style: italic;
	text-size: 10px;
	color: #999999;
}

hbox.script-operations-container{
	padding-top:10px;
	width:100%;
	text-align: right;
}
row.script-operations-row-container{
	width:100%;
	border-top:1px solid #EEEEEE;
	margin-top:5px;
}

button.remove-script{
	width:30px;	
}