{% extends "Tpoo1WebClientBundle::layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	    <div id="page-wrapper">
	        <div class="container-fluid">
	    	    <!-- Page Heading -->

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% trans %}Instantiated Refactorings{% endtrans %}
                        </h1>
                    </div>
                </div>                              
                {% if irefactorings %}
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Version{% endtrans %}</th>
                                    <th>{% trans %}Description{% endtrans %}</th>
                                    <th>{% trans %}Current state{% endtrans %}</th>
                                    <th>{% trans %}Change state{% endtrans %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for component in irefactorings %}
                                <tr>
                                    <td><a href="{{path('tpoo1_web_client_component_detail',{'id': component.id})}}">{{component.name}}</a></td>
                                    <td>{{component.version}}</td>
                                    <td>{{component.description}}</td>
                                    <td>{{component.state.name}}</td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 2})}}" title="{% trans %}Set to production{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-upload"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 3})}}" title="{% trans %}Set to development{% endtrans %}">
                                                <i class="glyphicon glyphicon-wrench"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 1})}}" title="{% trans %}Set to testing{% endtrans %}">
                                                <i class="glyphicon glyphicon-bullhorn"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 4})}}" title="{% trans %}Disable{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-download"></i>
                                            </a>
                                          </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_refactoring_form')}}" title="{% trans %}New version{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-upload"> {% trans %}New version{% endtrans %}</i>
                                            </a>
                                          </div>                                          
                                        </div>
                                    </td>
                                </tr>                          
                                {% endfor %}        
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <i>{% trans %}There are no instantiated refactorings uploaded by you.{% endtrans %}</i>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% trans %}Generic Refactorings{% endtrans %}
                        </h1>
                    </div>
                </div>                              
                {% if grefactorings %}
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Version{% endtrans %}</th>
                                    <th>{% trans %}Description{% endtrans %}</th>
                                    <th>{% trans %}Current state{% endtrans %}</th>
                                    <th>{% trans %}Change state{% endtrans %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for component in grefactorings %}
                                <tr>
                                    <td><a href="{{path('tpoo1_web_client_component_detail',{'id': component.id})}}">{{component.name}}</a></td>
                                    <td>{{component.version}}</td>
                                    <td>{{component.description}}</td>
                                    <td>{{component.state.name}}</td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 2})}}" title="{% trans %}Set to production{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-upload"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 3})}}" title="{% trans %}Set to development{% endtrans %}">
                                                <i class="glyphicon glyphicon-wrench"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 1})}}" title="{% trans %}Set to testing{% endtrans %}">
                                                <i class="glyphicon glyphicon-bullhorn"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 4})}}" title="{% trans %}Disable{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-download"></i>
                                            </a>
                                          </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_generic_refactoring_form')}}" title="{% trans %}New version{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-upload"> {% trans %}New version{% endtrans %}</i>
                                            </a>
                                          </div>                                          
                                        </div>
                                    </td>
                                </tr>                          
                                {% endfor %}        
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <i>{% trans %}There are no generic refactorings uploaded by you.{% endtrans %}</i>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {% trans %}Refactoring Packages{% endtrans %}
                        </h1>
                    </div>
                </div>
                {% if packages %}
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans %}Name{% endtrans %}</th>
                                    <th>{% trans %}Version{% endtrans %}</th>
                                    <th>{% trans %}Description{% endtrans %}</th>
                                    <th>{% trans %}Current state{% endtrans %}</th>
                                    <th>{% trans %}Change state{% endtrans %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for component in packages %}
                                <tr>
                                    <td><a href="{{path('tpoo1_web_client_component_detail',{'id': component.id})}}">{{component.name}}</a></td>
                                    <td>{{component.version}}</td>
                                    <td>{{component.description}}</td>
                                    <td>{{component.state.name}}</td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 2})}}" title="{% trans %}Set to production{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-upload"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 3})}}" title="{% trans %}Set to development{% endtrans %}">
                                                <i class="glyphicon glyphicon-wrench"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 1})}}" title="{% trans %}Set to testing{% endtrans %}">
                                                <i class="glyphicon glyphicon-bullhorn"></i>
                                            </a>
                                          </div>
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_accessibility_component_set_state', {'id': component.id, 'stateId': 4})}}" title="{% trans %}Disable{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-download"></i>
                                            </a>
                                          </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn-toolbar" role="toolbar">
                                          <div class="btn-group">
                                            <a class="btn" href="{{path('tpoo1_web_client_developer_refactoring_package_new_version_form',{'id': component.id})}}" title="{% trans %}New version{% endtrans %}">
                                                <i class="glyphicon glyphicon-cloud-upload"> {% trans %}New version{% endtrans %}</i>
                                            </a>
                                          </div>                                          
                                        </div>
                                    </td>
                                </tr>                          
                                {% endfor %}        
                            </tbody>
                        </table>
                    </div>
                </div>
                {% else %}
                    <div class="row">
                        <i>{% trans %}There are no refactoring packages uploaded by you.{% endtrans %}</i>
                    </div>
                {% endif %}
	        </div>
	    </div>
	</div>
</div>
{% endblock content %}
