{% extends "::base.html.twig" %}

{% block title %}Tpoo1WebClientBundle:Developer:editRefactoring{% endblock %}

{% block body %}
<h1>Welcome to the Developer:editRefactoring page</h1>
{% endblock %}
