{% extends "Tpoo1WebClientBundle::layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	    <div id="page-wrapper">
	        <div class="container-fluid">
	    	    <!-- Page Heading -->
	            <div class="row">
	                <div class="col-lg-12">
						<h1>{% trans %}Upload a new generic refactoring{% endtrans %}</h1>        
						<i>{% trans %}You must include in your refactoring file this header with the meta information required in order to be a valid refactoring.{% endtrans %}</i>              
	                </div>
	            </div>
	            <hr>
	            <div class="row">	 
					<div class="col-lg-8 col-lg-offset-2">               
<pre><code class="javascript">
var metadata = {
	"id":"splitpage-sfirmenich",
	"type":"generic",
	"author":"Sergio Firmenich",
	"version":"1.0", 
	"name":"Split Page", 
	"description":"This generic refactoring splits a complex page into several smaller ones and add a menu for accessing each of these sections."
};
</code></pre>
					</div>
	            </div>
	            <hr>
	            <div class="row">	 
					<div class="col-lg-8 col-lg-offset-2">
						<form action="{{path('tpoo1_web_client_developer_upload_generic_refactoring')}}" method="post" enctype="multipart/form-data" role="form">
							<div class="form-group">
			                    <label for="username">{% trans %}Upload .js file{% endtrans %}:</label>
			                    <input type="file" id="file" name="file" required="required" class="form-control">
			                </div>
			                <button type="submit" id="_submit" name="_submit" value="Entrar" class="btn btn-info col-lg-12"><i class="glyphicon glyphicon-cloud-upload"></i> {% trans %}Upload{% endtrans %}</button>
						</form>
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>
{% endblock content %}