{% extends "Tpoo1WebClientBundle::layout.html.twig" %}

{% block content %}
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	    <div id="page-wrapper">
	        <div class="container-fluid">
	    	    <!-- Page Heading -->
	            <div class="row">
	                <div class="col-lg-12">
						<h1>{% trans %}Upload a new refactoring package{% endtrans %}</h1>        
						<i>{% trans %}You must include in your refactoring files this header with the meta information required in order to be valid refactorings.{% endtrans %}</i>              
	                </div>
	            </div>
	            <hr>
	            <div class="row">	 
					<div class="col-lg-8 col-lg-offset-2">               
<pre><code class="javascript">
// for instantiated refactorings
var metadata = {
	"id":"splitpage-gmail-sfirmenich",
	"type":"instantiated",
	"dependency":"splitpage-sfirmenich",
	"author":"Sergio Firmenich",
	"version":"1.0", 
	"name":"Split Page for Gmail", 
	"host":"google.com",
	"description":"This generic refactoring splits a complex page into several smaller ones and add a menu for accessing each of these sections."
};
// for generic refactorings
var metadata = {
	"id":"splitpage-sfirmenich",
	"type":"generic",
	"author":"Sergio Firmenich",
	"version":"1.0", 
	"name":"Split Page", 
	"description":"This generic refactoring splits a complex page into several smaller ones and add a menu for accessing each of these sections."
};
</code></pre>
					</div>
	            </div>
	            <hr>
	            <div class="row">	 
					<div class="col-lg-8 col-lg-offset-2">
						<form id="refactoring_package_form" name="refactoring_package_form" action="{{path('tpoo1_web_client_developer_upload_refactoring_package')}}" method="post" enctype="multipart/form-data" role="form">
							<div class="form-group">
			                    <label for="username">{% trans %}Name{% endtrans %}:</label>
			                    <input type="text" id="name" name="name" required="required" class="form-control" placeholder="{% trans %}My Refactoring Package{% endtrans %}">
			                </div>
							<div class="form-group">
			                    <label for="version">{% trans %}Version{% endtrans %}:</label>
			                    <input type="text" id="version" name="version" required="required" class="form-control" placeholder="1.1.2">
			                </div>
							<div class="form-group">
			                    <label for="description">{% trans %}Description{% endtrans %}:</label>
			                    <textarea id="description" name="description" required="required" class="form-control" placeholder="{% trans %}Some description for your package{% endtrans %}"></textarea>
			                </div>
							<div class="form-group">
			                    <label for="file">{% trans %}Attach .js files{% endtrans %}:</label>
			                    <input type="file" multiple="multiple" id="file" name="file[]" required="required" class="form-control">
			                </div>
							<div class="form-group">
			                    <label for="file-order">{% trans %}File order{% endtrans %}:</label><br />
			                    <div class="row">
				                    <div class="col-md-10">
				                    	<select class="full-width" name="file-order[]" id="file-order" size="10" multiple></select>
				                    </div>
				                    <div class="col-md-2">
				                    	<p>
				                    		<button id="file-order-up" class="file-order-button btn btn-primary full-width"><i class="glyphicon glyphicon-arrow-up"></i>{% trans %}Up{% endtrans %}</button>
				                    	</p>
				                    	<p>
				                    		<button id="file-order-down" class="file-order-button btn btn-primary full-width"><i class="glyphicon glyphicon-arrow-down"></i>{% trans %}Down{% endtrans %}</button>
				                    	</p>
				                    </div>
				                </div>
			                </div>
			                {% if id is defined %}
			                <input type="hidden" value="{{id}}" id="previous" name="previous">
			                {% endif %}
			                <button type="submit" id="_submit" name="_submit" value="Entrar" class="btn btn-info col-lg-12"><i class="glyphicon glyphicon-cloud-upload"></i> {% trans %}Upload{% endtrans %}</button>
						</form>
					</div>
				</div>
	        </div>
	    </div>
	</div>
</div>

{% endblock content %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/tpoo1webclient/js/refactoringPackage.js')}}"></script>
{% endblock javascripts %}
